.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	margin: 0 2px;
	fill: currentColor;
}

.icon-2-layers {
	
	width:(21/20)*1em;
}
.icon-carts-eqs1 {
	
	width:(91/82)*1em;
}
.icon-carts-eqs2 {
	
	width:(104/79)*1em;
}
.icon-carts-eqs3 {
	
	width:(46/80)*1em;
}
.icon-carts-eqs4 {
	
	width:(102/69)*1em;
}
.icon-close-modal {
	
	width:(35.12/35.12)*1em;
}
.icon-close-white {
	
	width:(35.12/35.12)*1em;
}
.icon-f-w {
	
	width:(21/20)*1em;
}
.icon-facebook {
	
	width:(21/20)*1em;
}
.icon-gamb {
	
	width:(27/21)*1em;
}
.icon-inst {
	
	width:(20/20)*1em;
}
.icon-inst-w {
	
	width:(21/20)*1em;
}
.icon-left-arrow-red {
	
	width:(8/14)*1em;
}
.icon-link-right-arrow {
	
	width:(37.08/13.51)*1em;
}
.icon-logo-h {
	
	width:(190/111)*1em;
}
.icon-right-arrow-red {
	
	width:(8/14)*1em;
}
.icon-right-arrow-white {
	
	width:(11/17)*1em;
}
.icon-tw {
	
	width:(21/20)*1em;
}
.icon-tw-w {
	
	width:(21/20)*1em;
}
.icon-you-w {
	
	width:(20/20)*1em;
}
.icon-youtube {
	
	width:(21/20)*1em;
}
